.college-page {
  padding-top:120px;
  color:white;
  font-family:'Orbitron', sans-serif;
}

.college-container {
  width:85%;
  margin:auto;
  text-align:center;
}

/* TITLE */

.page-title {
  font-size:40px;
  color:cyan;
  text-shadow:
  0 0 3px cyan,
  0 0 6px cyan;
}

.page-subtitle{
  color:hsl(195, 27%, 91%);
  font-size:24px;
}

/* GRID */

.news-grid{
  margin-top:50px;
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows:auto auto;
  gap:30px;
}

/* CARD */

.college-card{
  position:relative;
  background:rgba(0,0,0,0.7);
  border:1px solid rgba(0,255,255,0.5);
  border-radius:12px;
  padding:25px;
  text-align:left;

  box-shadow:0 0 12px rgba(0,255,255,0.2);
  transition:all 0.4s ease;
  backdrop-filter: blur(0px);
}

.college-card:hover{
  transform:translateY(-6px) scale(1.02);
  background:rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border:1px solid rgba(0,255,255,0.8);

  box-shadow:
  0 0 15px cyan,
  0 0 35px rgba(0,255,255,0.6),
  inset 0 0 10px rgba(0,255,255,0.2);
}

.college-card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:100%;

  border-radius:12px;

  background:linear-gradient(
  120deg,
  transparent,
  rgba(0,255,255,0.15),
  transparent
  );

  opacity:0;
  transition:0.4s;
  pointer-events:none;
}

.college-card:hover::before{
  opacity:1;
}

.college-card h2{
  color:#7ffcff;
  margin-bottom:15px;
}

.college-card p{
  line-height:1.7;
  color:#ddd;
}

/* GRID POSITIONS */

.main-article{
  grid-row:1;
}

.location{
  grid-column:2;
}

.techhalo{
  grid-row:2;
  grid-column:1 / span 2;
}

/* ===================== */
/* TABLET */
/* ===================== */

@media (max-width:900px){

.college-container{
    width:90%;
}

.page-title{
    font-size:34px;
}

.page-subtitle{
    font-size:20px;
}

.news-grid{
    grid-template-columns:1fr 1fr;
    gap:22px;
}

.college-card{
    padding:22px;
}

.college-card h2{
    font-size:20px;
}

.college-card p{
    font-size:14px;
}

}

/* ===================== */
/* MOBILE */
/* ===================== */

@media (max-width:600px){

.college-page{
    padding-top:90px;
}

.page-title{
    font-size:26px;
}

.page-subtitle{
    font-size:18px;
}

.news-grid{
    grid-template-columns:1fr;
    gap:18px;
}

.main-article,
.location,
.techhalo{
    grid-column:auto;
    grid-row:auto;
}

.college-card{
    padding:20px;
}

.college-card h2{
    font-size:18px;
}

.college-card p{
    font-size:13px;
}

}

/* ===================== */
/* SMALL PHONES */
/* ===================== */

@media (max-width:400px){

.page-title{
    font-size:22px;
}

.page-subtitle{
    font-size:16px;
}

.college-card{
    padding:16px;
}

.college-card h2{
    font-size:16px;
}

.college-card p{
    font-size:12px;
}

}